<div class="about-content-container">
  <div class="about-description">
    <!-- <div class="hover-title-wrapper"> -->
      <h2 class="music-title" data-text="music technologist">music technologist</h2>
      <div class="home-wrap m">Finishing up his masters at McGill, Evan has hands-on experience with Digital Signal Processing, Machine Learning, and Music Information Retrieval</div>
    <!-- </div> -->
    <!-- <div class="hover-title-wrapper"> -->
      <h2 class="producer-title" data-text="producer">producer</h2>
      <div class="home-wrap p">Focusing on techno, trance, and ambient textures, Evan produces music and DJs under the alias <i>S4V4GE</i></div>
    <!-- </div> -->
    <!-- <div class="hover-title-wrapper"> -->
      <h2 class="research-title" data-text="ai researcher">ai researcher</h2>
      <div class="home-wrap r">Evan wrote his masters thesis on the development of a Generative Adversarial Network to synthesize 13th century manuscript images</div>
    <!-- </div> -->
    <!-- <div class="hover-title-wrapper"> -->
      <h2 class="web-title" data-text="developer">developer</h2>
      <div class="home-wrap w">Familiar with machine learning, web development, and software engineering, Evan has pursued a diverse array of projects</div>
    <!-- </div> -->
  </div>
  <!-- <img class="home-image" src="{{ site.baseurl }}/assets/img/personal_pic.jpg"/> -->
</div>
