<div class="carousel-cell" style="background-color: #{{ card.background-color }};">
  <div class="inner-cell">
    <h1 class="home-content">{{ card.title | strip_html }}</h1>
    <p>{{ card.content }}</p>
    <img class="me_lol" src='{{ site.baseurl }}/assets/img/Facebook_June_19.jpg'/>
    <!-- <img class="me_lol" src='{{ site.baseurl }}/assets/img/Facebook_June_19.jpg'/> -->
    <button class="slide-btn">Button</button>
    <button class="slide-btn-2">Button</button>
  </div>
  <div class="screen-overlay">
    <div class="overlay-content">
      <div class="button-background"></div>
      <button class="exit-button">X</button>
    </div>
  </div>
</div>
