<div class="carousel-cell" style="background-color: #{{ card.background-color }};">
  <div class="inner-cell">
    <h1 class="home-content">{{ card.title | strip_html }}</h1>

    <!-- <img class="holder-image" src='{{ site.baseurl }}/assets/img/{{ card.holder-image }}'/> -->
    {% if card.background-image %}
      <img class="card-background" style="opacity: {{ card.opacity }};" src='{{ site.baseurl }}/assets/img/{{ card.background-image }}'/>
    {% endif %}
    {% if card.card-type == "music" %}
      <div class="music-container" style="background-color: #{{ card.content-bg-color }};">
        <div class="music-carousel">
          {% for track in site.music_cards %}
            <div>
              <div class="music-text">
                {{ track.content }}
              </div>
              <div class="music-image-container">
                <div class="music-image" >
                  <a><img src="{{ site.url }}/assets/img/{{ track.image }}.png/"></a>
                </div>
                <h3>{{ track.title }}</h3>
              </div>
            </div>
            <!-- <div class="stage" style="width: 120px; height: 120px;">
              <div class="cubespinner">
                <div class="face1"><img src="{{ site.baseurl }}/assets/img/{{ track.image }}.png"/></div>
                <div class="face2"><img src="{{ site.baseurl }}/assets/img/{{ track.image }}.png"/></div>
                <div class="face3"><img src="{{ site.baseurl }}/assets/img/{{ track.image }}.png"/></div>
                <div class="face4"><img src="{{ site.baseurl }}/assets/img/{{ track.image }}.png"/></div>
                <div class="face5"><img src="{{ site.baseurl }}/assets/img/{{ track.image }}.png"/></div>
                <div class="face6"><img src="{{ site.baseurl }}/assets/img/{{ track.image }}.png"/></div>
              </div>
            </div> -->
          {% endfor %}
        </div>
        <!-- {% for image in card.music-images %}
          <img class="music-image" src="{{ site.baseurl }}/assets/img/{{ image }}.png"/>
          <h3>{{ image }}</h3>
        {% endfor %} -->
      </div>
    {% else %}
      <div class="card-content" style="background-color: #{{ card.content-bg-color }}; width: {{ card.content-width }}">
        {{ card.content }}
      </div>
    {% endif %}

    <div class="spin-content {{ card.holder-class-2 }}"><p>{{ card.spin-content }}</p></div>
    <!-- <div class="{{ card.holder-class }}">{{ card.holder-content }}</div> -->
    <!-- <button class="slide-btn">Open overlay</button> -->
    <!-- <button class="slide-btn-2">Button</button> -->
  </div>
  <div class="screen-overlay" style="background-color: #{{ card.overlay-color }}">
    <div class="overlay-content">
      <div class="button-background"></div>
      <button class="exit-button">X</button>
    </div>
  </div>
</div>
