<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="icon" href="{{ site.baseurl }}/assets/img/tab_icon_logo_7.png">
  <link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style" onload="this.rel='stylesheet'">

  <!-- <script rel="preload" src="{{ site.baseurl }}/assets/js/flickity.min.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <!-- <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script> -->
  <noscript><link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"></noscript>
  <!-- <link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | relative_url }}"> -->
  <!-- <script src="{{ '/assets/js/pixi.min.js' | relative_url }}"></script> -->
</head>
