<div class="home-content-container">
  <!-- <img class="home-background-image" src="{{ site.baseurl }}/assets/img/pointy_building.jpg"/> -->
  <img class="home-background-image" src="{{ site.baseurl }}/assets/img/personal_pic.jpg"/>
  <div class="home-detail">

  </div>
  <div class="description-box">
    <h2>Music</h2>
  </div>
  <div class="record-box">
  </div>
  <div class="record-box-2">
  </div>
  <!-- <img class="home-background-image" src="{{ site.baseurl }}/assets/img/spaceship.jpg"/> -->
</div>
