<script src="{{ site.baseurl }}/assets/js/keypress-2.1.5.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/less.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://w.soundcloud.com/player/api.js"></script>
<script src="{{ site.baseurl }}/assets/js/music-player.js"></script>
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
<script src="//unpkg.com/fast-average-color/dist/index.min.js"></script>
<!-- <script src="{{ site.baseurl }}/assets/js/three.r92.min.js"></script> -->
<script src="{{ site.baseurl }}/assets/js/jquery.instagramFeed.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/slick.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/carousel.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/dynamic_record_stack.js" async></script>


<!-- <script src="{{ site.baseurl }}/assets/js/vanta.fog.min.js"></script>
<script>
VANTA.FOG({
  el: "body",
  highlightColor: 0xf0d1c8,
  midtoneColor: 0xcccccc,
  lowlightColor: 0xc0c5c1,
  baseColor: 0xc5afa9,
  blurFactor: 0.30,
  speed: 0.70,
  zoom: 0.60
})
</script> -->
<!-- <script src="{{ site.baseurl }}/assets/js/vanta.cells.min.js"></script>
<script>
VANTA.CELLS({
  el: "body",
  color1: 0xf8fffd,
  color2: 0x87ffa3,
  size: 3.90
})
</script> -->
<!-- COMBO:
  F2F4F3 D7D9B1,
-->
{% assign pageBackground = "F2F4F3" %} <!-- ORIG: EBD1CB,  -->
{% assign swirlColor = "D7D9B1" %} <!-- D7D9B1, E8C547 -->

<!-- <script src="{{ site.baseurl }}/assets/js/p5.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vanta.topology.min.js"></script> -->
<!-- <script>
VANTA.TOPOLOGY({
  el: "body",
  color: 0x{{ swirlColor }}, // f79f79, 9da9a0, ffffff, bdfffd, b9cfd4
  backgroundColor: 0x{{ pageBackground }}
})
</script> -->
<script src="{{ site.baseurl}}/assets/js/overlay.js"></script>
<!-- <script src="{{ site.baseurl }}/assets/js/modal.js"></script> -->
