<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.instagramFeed.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/slick.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/carousel.js"></script>
<script src="{{ site.baseurl }}/assets/js/three.r92.min.js"></script>
<!-- <script src="{{ site.baseurl }}/assets/js/vanta.fog.min.js"></script>
<script>
VANTA.FOG({
  el: "body",
  highlightColor: 0xf0d1c8,
  midtoneColor: 0xcccccc,
  lowlightColor: 0xc0c5c1,
  baseColor: 0xc5afa9,
  blurFactor: 0.30,
  speed: 0.70,
  zoom: 0.60
})
</script> -->
<!-- <script src="{{ site.baseurl }}/assets/js/vanta.cells.min.js"></script>
<script>
VANTA.CELLS({
  el: "body",
  color1: 0xf8fffd,
  color2: 0x87ffa3,
  size: 3.90
})
</script> -->
<script src="{{ site.baseurl }}/assets/js/p5.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vanta.topology.min.js"></script>
<script>
VANTA.TOPOLOGY({
  el: "body",
  color: 0xffe9b4,
  backgroundColor: 0xe8cece
})
</script>
<script src="{{ site.baseurl}}/assets/js/overlay.js"></script>
<!-- <script src="{{ site.baseurl }}/assets/js/modal.js"></script> -->
