<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.instagramFeed.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/slick.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/carousel.js"></script>
<script src="{{ site.baseurl }}/assets/js/three.r92.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vanta.fog.min.js"></script>
<script>
VANTA.FOG({
  el: "body",
  highlightColor: 0xf0d1c8,
  midtoneColor: 0xffffff,
  lowlightColor: 0xe6cdc7,
  baseColor: 0xd8c1bb,
  blurFactor: 0.30,
  speed: 0.70,
  zoom: 0.60
})
</script>
