<div class="music-content-container">
  <div class="music-inner carousel">
    {% for card in site.music_cards | sort: "order" %}

      <div class="carousel-card">
        <img class="music-image" src="{{ site.baseurl }}/assets/img/{{ card.image }}"/>
        <div class="card-meta">
          <div>[ {{ card.type }} ]</div>
          <div>{{ card.date | date:"%Y_%m_%d" }}</div>
        </div>
        <h2>{{ card.title }}</h2>
        <div class="genre-tags">
          {% for tag in card.tags %}
            <span>{{ tag }}</span>
          {% endfor %}
        </div>
        <div class="description">{{ card.content }}</div>
      </div>
    {% endfor %}
  </div>
</div>
