@font-face {
  font-family: cruiser;
  src: url('fonts/cruiserfortresslaserital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: angled;
  src: url('fonts/ANGLED__.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ambiant;
  src: url('fonts/AmbiantVariableGX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: istokweb;
//   src: url('fonts/IstokWeb-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: kanik;
//   src: url('fonts/Kanit-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: oxygen;
//   src: url('fonts/Oxygen-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: yantram;
//   src: url('fonts/Yantramanav-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: prompt;
//   src: url('fonts/Prompt-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: monda;
//   src: url('fonts/Monda-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: nunitosans;
  src: url('fonts/NunitoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: metrophobic;
  src: url('fonts/Metrophobic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: catv;
  src: url('fonts/CatV_6x12_9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: condios;
  src: url('fonts/VAIOCONDIOS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: groov;
  src: url('fonts/GroovtasticRegular-Eaae8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: metsys;
  src: url('fonts/MetsysBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: microgramma;
  src: url('fonts/MicrogrammaBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: moonhouse;
  src: url('fonts/Moonhouse-yEM5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: technocap;
  src: url('fonts/TechnoCapture-2B48.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: trench;
  src: url('fonts/TrenchThin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
