@font-face {
  font-family: cruiser;
  src: url('fonts/cruiserfortresslaserital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: angled;
  src: url('fonts/ANGLED__.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
