@font-face {
  font-family: cruiser;
  src: url('fonts/cruiserfortresslaserital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: angled;
  src: url('fonts/ANGLED__.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: istokweb;
//   src: url('fonts/IstokWeb-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: kanik;
//   src: url('fonts/Kanit-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: oxygen;
//   src: url('fonts/Oxygen-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: yantram;
//   src: url('fonts/Yantramanav-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: prompt;
//   src: url('fonts/Prompt-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: monda;
//   src: url('fonts/Monda-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: nunitosans;
  src: url('fonts/NunitoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
