html {
  @include breakpoint($xs) {
    overflow: visible;
  }
  @include breakpoint($md) {
    overflow: hidden;
    // height: 100x%;
  }
  overscroll-behavior-x: none;
  height: 100%;
}

body {
  // display: table;
  position: relative;
  height: 100%;
  width: 100.2%;
  margin: 0;


  // Old css vairables syntax for input input range

  --fading: #1B2021; // Frame colors
	--impact: #1B2021;

  .body-wrap {
    background-color: $page-background-color;
    display: flex;

    max-width: 1440px;
    margin: auto;
    overscroll-behavior-x: none;
    justify-content: center;
    align-items: center;
    @include breakpoint($xs) {
      overflow: visible;
      display: block;
    }
    @include breakpoint($md) {
      // height: 100%;
      overflow: auto;
      display: flex;
    }
    @include breakpoint($lg) {
      height: auto;
    }
    @include breakpoint($xl) {
      height: 100%;
    }
  }

  // margin: 0;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

#home-wrapper {
  @include breakpoint($xs) {
    flex-direction: column;
    height: auto;
    max-height: 900px;
  }
  @include breakpoint($md) {
    flex-direction: row;
    height: 96%;
    // max-height: 950px;
  }

  display: grid;
  grid-auto-flow: column;
  margin: 20px;
  // margin-top: -20px;
  margin-top: 0;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%); /* IE 9 */
  // -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */


  // NEED TO  UPDATE THESE

  grid-template-columns: 432px calc(72% - 432px) auto;
  // grid-template-rows: 59px calc(47% - 59px) 20% calc(33%);
  grid-template-rows: 59px calc(53% - 59px) calc(47%);

  width: calc(100vw - 40px);
  max-width: 1800px;

  .home-title {
    font-family: angled;
    margin: 0;
    z-index: 100;
    // position: absolute;
    grid-column: 1 / 2;
    grid-row: 1;

    color: $title-color;
    @include breakpoint($xs) {
      font-size: 2rem;
      position: relative;

      text-align: center;
      h1 {
        padding-right: 10px;
      }
    }
    @include breakpoint($sm) {
      justify-self: left;
      // align-self: start;
      font-size: 2.5rem;

      h1 {
        padding: 0;
      }
    }
    h1 {
      margin: 0;
    }
  }
  .top{
    display: flex;
    align-items: center;
    justify-content: right;
    &:before {
      background: $title-color;
      height: 2px;
      flex: 1;
      content: '';
      @include breakpoint($lg) {
        margin-top: 13px;
        margin-right: 0px;
      }
      // width: 100%;
      // height: 2px;
      // border-bottom: 2px solid $title-color;
      // margin-top: 33px;
      // content: "";
    }
    grid-column: 2 / 3;
    grid-row: 1;

  }
  .main-content-wrapper {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    // margin-right: 20px;
    @include breakpoint($xs) {
      // width: 100%;
    }
    @include breakpoint($md) {
      // flex-grow: 1;
      // max-width: 70%;
    }
  }
  .main-content-wrapper {
    display: flex;
    // max-height: 950px;
    // max-width: calc(1800px - 424px);
    @include breakpoint($xs) {
      // width: 100%;
      // position: relative;
    }
    @include breakpoint($sm) {
      // width: calc(100vw - 24px);
      // position: relative;
    }
    @include breakpoint($md) {
      // width: calc(100vw - 324px);
      // position: fixed;
    }
    @include breakpoint($lg) {
      // width: calc(100vw - 424px);
    }

    .main-bottom {
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      .bottom-border {
        // position: absolute;
        // bottom: 5px;
        border-bottom: 2px solid $frame-color;
        width: auto;
        flex: 1;
        // line-height: 13px;
        margin-bottom: 24px;
        margin-left: 24px;
      }
    }
  }
  .insta-content, .tracks-content, .mixes-content {
    padding-top: 29px;
    // padding-right: 31px;
    // overflow: hidden;
    h2 {
      font-family: 'Rubik';
      color: $side-column-text-color;
      writing-mode: vertical-rl;
      margin-right: 0px;
      letter-spacing: 2px;
      position: relative;
      // float: left;
      display: flex;
      // flex-direction: column;
      &::after {
          content: "";
          // position: absolute;
          margin-top: 6px;
          width: 12px;
          height: auto;
          border-left: 2px solid $side-column-text-color;
          line-height: 10px;
          flex: 1;
          // display: block;
        }

      // margin: 20px 0 0 20px;
      // position: absolute;
      // &.insta-title {
      //   top: 26px;
      //   left: 0px;
      // }
      // &.mixes-title {
      //   top: 426px;
      //   left: 0px;
      // }
      // &.tracks-title {
      //   top: 726px;
      //   left: 0px;
      // }


      // transform: rotate(-90deg);
    }
  }

  .insta-content {
    display: flex;
    grid-column: 3 / 4;
    grid-row: 3;
    padding-top: 25px;
    // margin-bottom: 10px;

    @include breakpoint($xs) {
      width: 100%;
      flex: none;
    }
    @include breakpoint($sm) {
      // flex: 2;
      width: 100%;
    }
    @include breakpoint($md) {
      width: 100%;
      flex: none;
      // height: 45%;
    }
    #instagram-feed1 {
      position: relative;
      margin: 0 10px;
      display: flex;
      align-items: center;
      // top: -5px;
    }
  }
  .tracks-content {
    grid-column: 3;
    grid-row: 1 / 3;
    // overflow: hidden;
  }
  .mixes-content {
    grid-column: 3;
    grid-row: 4;
    overflow: hidden;
    padding-bottom: 20px;
  }

  .tracks-content, .mixes-content {
    display: flex;
    // flex-direction: column;
    // overflow: hidden;
    // flex: auto;
    @include breakpoint($xs) {
      width: 100%;
      // flex: none;
    }
    @include breakpoint($sm) {
      // flex: 1;
      width: 50%;
    }
    @include breakpoint($md) {
      width: 100%;
      // flex:none;
    }
    .tm {
      // margin-top: 6px;
      margin: 5px 32px 5px;
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      // align-items: center;
      justify-content: center;
      border: 10px solid $frame-color;
      background: $page-background-color;
      border-radius: 0 0 20px 20px;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
    .sc-player {
      width: 90%;
      margin: 0 2%;
      padding: 10px 3%;
      background-color: $frame-color;
      border-radius: 4px;
      // float: right;
      margin-bottom: 10px;
      // box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }

    .sc-content {
      flex-direction: column;
      height: calc(55% - 20px)
    }
  }
  .music-content-wrapper {
    position: relative;
    overflow-y: scroll;
    // background-color: #3e2c37;
    @include breakpoint($xs) {
      width: 100%;
    }
    // @include breakpoint($sm) {
    //   width: 100%;
    // }
    @include breakpoint($md) {
      width: 280px;
      margin-left: auto;
      // margin-right: 0;
    }
    @include breakpoint($lg) {
      width: 380px;

    }
    padding-right: 20px;
    .music-content {
      // width: 350px;
      margin-left: auto;
      margin-right: 20px;
      margin-top: 20px;
      // margin-bottom: 80px;
      display: flex;

      justify-content: space-between;
      max-height: 820px;
      height: 95%;

      @include breakpoint($xs) {
        width: 100%;
        flex-direction: column;
        min-height: 640px;
        flex-wrap: nowrap;
      }
      @include breakpoint($sm) {
        min-height: auto;
        flex-direction: row;
        flex-wrap: wrap;
      }
      @include breakpoint($md) {
        flex-direction: column;
        flex-wrap: nowrap;
      }
      @include breakpoint($lg) {
        min-height: 700px;
      }
      margin-bottom: 15px;
      > div {
        display: flex;
        flex-direction: row;
        overflow: hidden;
      }



    }

  }

}



// .social-widgets h2 {
//   font-family: 'Rubik';
//   color: #ca6464;
//   writing-mode: vertical-rl;
//   transform: rotate(-90deg);
//   // float: right;
//   text-align: right;
//   font-size: 1.5rem;
//   &::after {
//     content: "";
//     width: 20px;
//     border-left: 2px solid #ca6464;
//     line-height: 10px;
//   }
// }

.social-widgets-mid-wrapper {
  position: relative;
}



.social-links {
  margin: 0;
  // padding: 24px 0px;
  width: 43px;
  height: calc(40% - 25px);
  // background-color: #5933;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  // padding: 16px 9px 11px 15px;
  // border-top: 2px solid $frame-color;
  // border-left: 2px solid $frame-color;
  // border-right: 2px solid $frame-color;
  // border-bottom: 0;

  @include breakpoint($xs) {
    // position: absolute;
    // text-align: center;
    bottom: 6px;
    right: calc(50vw - 134px/2);
    border-bottom: 0;
    // border-radius: 4px 4px 0 0;
  }
  @include breakpoint($sm) {
    // position: absolute;
    top: 0;
    right: -1px;
  }
  @media (min-height: 950px) {
    // border-bottom: 2px solid #636363;
    // border-radius: 4px;
  }
  a {
    text-decoration: none;
    fill: currentColor;
    color: $frame-color;
    transition: color 0.1s ease-in-out;
    .mail-icon {
      stroke-width: 20;
      stroke: $frame-color;
    }
    // margin-right: 11px;
    // margin-left: 11px;
    // margin-bottom: 10px;
  }
  a:hover {
    fill: currentColor;
    color: $highlight-color;
    transition: color 0.1s ease-in-out;
    .mail-icon {
      fill: currentColor;
      stroke: $highlight-color;
      transition: stroke 0.1s ease-in-out;
    }
  }
  // &::after {
  //     content: "";
  //     position: absolute;
  //     // margin-top: 6px;
  //     width: 22px;
  //     height: calc(15vh - 53px);
  //     top: calc(-15vh + 53px);
  //     left: calc(50% - 11px);
  //     border-left: 2px solid $frame-color;
  //     border-right: 2px solid $frame-color;
  //     // line-height: 10px;
  //     // display: block;
  //   }
}

.glitch:hover {
  @include textGlitch("example-one", 30, $title-color, #D8C1BB00, $button-color, #61E294, 450, 115);
}

.home-content-wrapper {

  border: 10px solid $frame-color;
  border-top: 10px solid $frame-color;
  border-bottom: 10px solid $frame-color;
  overflow: hidden;
  // position: absolute;
  position: relative;
  display: flex;
  border-radius: 0 20px;
  margin: 30px 20px 15px 20px;
  // margin-left: 3%;
  // margin-top: 40px;
  // background-color: #636363;
  z-index: 5;
  // padding:;
  // width: 94%;
  // height: 85vh;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  // top: 35%;
  // left: 70px;

  .home-content {
      // @include textGlitch("example-one", 10, #636363, inherit, #019B00, #04F700, 450, 115);
      font-family: 'Rubik';
      color: $frame-color;
      margin-top: 0;
      width: 100%;
      z-index: 5;
      // font-size: 60px;
  }

}



.social-widgets {
  // position: absolute;
  @include breakpoint($xs) {
    position: relative;
    width: 90%;
    margin: 0 5%;
  }
  @include breakpoint($sm) {
    position: absolute;
    bottom: -290px;
    right: 0;
    // width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 20px 20px;
  }
  // .sc-player {
  //   width: 100%;
  //   float: right;
  //   margin-bottom: 10px;
  // }
  // text-align: center;
  // padding: 20px;
  // margin-bottom: 10px;
}

.social-widgets-wrapper {
  // height: 100%;
  background-color: #614456;
  // position: absolute;
  // top: 0;
  // right: 0;
  // width: 390px;
  @include breakpoint($xs) {
    position: relative;
    width: 100%;
    padding: 0 5%;
  }
  @include breakpoint($sm) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 390px;
    margin: 0;
    height: 100%;
    padding: 0;
  }
}
.main-carousel {
  // transform: rotate(-90deg);
}

.inner-wrapper {
  // position: absolute;

  height: 100%;

  &.first {
    // border-right: 3px solid #636363;
    // width: auto;
    // flex: 1;
    .slick-dots {
        right: -46px;
      }
  }
  // &.second {
  //   // margin-left: 50%;
  //   border-left: 3px solid #636363;
  //   width: 50px;
  //   .slick-dots {
  //     right: -7px;
  //   }
  // }
}

.carousel-cell {
  // width: 100%; /* full width */
  // height: 100%; /* height of carousel */
  // margin-right: 10px;
  // transform: rotate(90deg);
  height: 100%;
  position: relative;
  .inner-cell {

    margin: 30px 40px;
    height: 86%;
    font-family: metrophobic;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-right: 44px;

    .card-content {
      // background-color: #fff3;
      // width: calc(55% - 90px);
      color: $frame-color;
      // min-height: calc(76%);
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 0 10px;
      // border-radius: 5px;
      font-size: 1.15em;
      // text-align: justify;
      width: calc(85% - 60px);
      // flex: 1 1 auto;
      // border-left: 2px solid $frame-color;
      // transform: translateX(-20px);
      p {
        margin: 0 0 15px 0;
      }

    }
  }
  // .screen-overlay {
  //   position: absolute;
  //   width: 100%;
  //   height: 99.8%;
  //   // background-color: pink;
  //   display: none;
  //   top: 0;
  //   left: 0;
  //   .overlay-content {
  //     position:relative;
  //     height: 100%;
  //     .button-background {
  //       position: absolute;
  //       top: 0;
  //       right: 0;
  //       width: 42px;
  //       // height: 100%;
  //       // background-color: black;
  //       z-index: 1000;
  //     }
  //     .exit-button {
  //       position: absolute;
  //       top: 10px;
  //       right: 10px;
  //       z-index: 2
  //     }
  //   }
  // }
}

.button-box {
  position: absolute;
  bottom: -3px;
  right: -2px;
  width: 40px;
  height: calc(60% + 25px);
  border: 2px solid $frame-color;
  border-radius: 5px 0 0 0;
  z-index: 10;
  background-color: $frame-color;
}

.slick-list {
  height: 100% !important;
}

.slick-vertical .slick-slide {
  height: calc(85vh + 2px);
  width: 100%;
  overflow: hidden;
  position: relative;
}



 .card-background {
    position:absolute;
    height: 120%;
    top: 0;
    left: 0px;
    opacity: 0.3;
    filter: alpha(opacity=30);
 }

.music-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.music-carousel {
  width: 100%;
  height: 100%;
  // z-index: 100;
  // position: absolute;
}

.music-image-container {
  width: 91%;
  position: relative;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  height: 95%;
  margin-top: 7.5%;
  margin-left: -50px;
  .music-image {
    // width: 300px;
  }
  .music-title {
    text-align: right;
    padding-right: 20px;
    font-size: 1.3em;
    margin-top: -150px;
    margin-left: 310px;
    position:  absolute;
  }
  // opacity: 0.4;
}

.burger-menu {
  display: none;

}

.bottom-player-wrapper {
  position: absolute;
  height: 60px;
  background: $frame-color;
  border-radius: 15px 15px 0 0;
  width: 100%;
  bottom: -4px;
  z-index: 400;

  display: none;
}



// MUSIC CARDS

.music-image {
  position: absolute;
	@include music-image-width(0);
	// height: $music-image-width;
	// margin: -20px 60px;
	perspective: 1000px;
  img {
    @include music-image-width(0);
  }

}
.hover-zone {
  // position: relative;
  position: absolute;
  @include music-image-width(0);
  height: 20%;
  top: 86px;
  // border: 1px solid black;
  z-index: 5;
}

.music-image .card-link {
	display: block;
	width: 100%;
	height: 100%;
	// background: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/e8346826957515.56361c2106f3f.png");
	background-size: contain;
	transform-style: preserve-3d;
	transform: rotateX(70deg);
	transition: transform 0.8s;
}
// .hover-zone:hover + .music-image .card-link {
//   transform: rotateX(70deg) translateX(30px);
// }
.music-image .card-link {
  .bottom-width {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    @include music-image-width(2px);
    height: 10px;
    background: black;
   	transform: rotateX(90deg);
    transform-origin: bottom;
  }
  .left-width {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    @include music-image-width(2px);
    height: 10px;
    background: black;
   	transform: rotateZ(90deg) rotateX(90deg) translateX(-50%);
    transform-origin: bottom;
    margin-left: - $music-image-width / 2;
  }
}

.selected-card {
    transform: rotateX(10deg) translateX(300px);
}

.track-writeup-container {
  position: absolute;
  top: 39%;
  left: 520px;
  .track-writeup-title {
      font-size: 1.7em;
  }
}

// .overlay {
//   height: 100%;
//   width: 0;
//   position: fixed;
//   display: flex;
//   align-items: center;
//   z-index: 1000;
//   top: 0;
//   left: 0;
//   background-color: rgb(0,0,0);
//   background-color: rgba(0,0,0, 0.9);
//   overflow-x: hidden;
//   transition: 0.5s;
// }

// .overlay-content {
//   position: relative;
//   display: grid;
//   grid-template-columns: 50% 50%;
//   grid-template-rows: auto auto;
//   margin-left: auto;
//   margin-right: auto;
//   // top: 25%;
//   width: 90%;
//   // text-align: center;
//   // margin-top: 30px;
// }

// .overlay a {
//   // padding: 8px;
//   // text-decoration: none;
//   // font-size: 36px;
//   // color: #818181;
//   display: block;
//   transition: 0.3s;
// }

// .overlay a:hover, .overlay a:focus {
//   color: #f1f1f1;
// }

.open-nav-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: none;
  width: 12%;
}
.open-nav-button, .closebtn {
  bottom: 65px;
}



.open-nav-button, .closebtn {
  svg {
    fill: $title-color;
  }
}

.overlay {
  height: 0%;
  width: 100.2%;
  position: fixed;
  z-index: 1001;
  bottom: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: $title-color;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  // bottom: 45px;
  left: 49.8%;
  transform: translateX(-50%);
  width: 12%;
  // font-size: 60px;
  svg {
    // fill: $title-cxolor;
    transform: rotateZ(-180deg);
  }
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.burger-menu {
  z-index: 100;
  top: 6px;
  right: 45px;
  color: $title-color;
  margin-top: 5px;
}



// .overlay-content {
//
//   .insta-content {
//     display: flex;
//     grid-column: 1 / 3;
//     width: 100%;
//     height: auto;
//     #instagram-feed2 {
//       position: relative;
//       width: 100%;
//       margin: 0 0 0 10px;
//       // top: -5px;
//     }
//
//
//   }
//   .tracks-content, .mixes-content {
//     display: flex;
//     .tm {
//       margin-left: 5%;
//       .playlist-player {
//         margin-top: 5%;
//         margin-bottom: 5%;
//         width: 94%;
//       }
//     }
//   }
//   .insta-content, .tracks-content, .mixes-content {
//     padding-top: 33px;
//     // padding-right: 31px;
//     // overflow: hidden;
//     h2 {
//
//       font-family: 'Rubik';
//       color: $side-column-text-color;
//       writing-mode: vertical-rl;
//       margin-right: 0px;
//       margin-left: 0px;
//       letter-spacing: 2px;
//       font-size: 2em;
//       position: relative;
//       float: left;
//       text-align: initial;
//       display: flex;
//       &::after {
//           content: "";
//           // position: absolute;
//           margin-top: 6px;
//           width: 19px;
//           flex: 1;
//           // height: 150%;
//           border-left: 2px solid $side-column-text-color;
//           line-height: 10px;
//           // display: block;
//         }
//
//       // margin: 20px 0 0 20px;
//       // position: absolute;
//       // &.insta-title {
//       //   top: 26px;
//       //   left: 0px;
//       // }
//       // &.mixes-title {
//       //   top: 426px;
//       //   left: 0px;
//       // }
//       // &.tracks-title {
//       //   top: 726px;
//       //   left: 0px;
//       // }
//
//
//       // transform: rotate(-90deg);
//     }
//   }
// }

// HOLDER CONTENTOF OLD STUFF

// .holder-image {
//   width: 25%;
//   border-radius: 15px;
// }
//
// .spin-content {
//   position: absolute;
//   top: calc(50% - 170px);
//   left: 26%;
//   font-size: 140px;
// }
//
// .spin-content {
//   animation-name: spin, depth;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
//   animation-duration: 3s;
//   text-align: center;
// }
// @keyframes spin {
//   from { transform: rotateY(0deg); }
//   to { transform: rotateY(-360deg); }
// }
// @keyframes depth {
//   0% { text-shadow: 0 0 black; }
//   25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
//   50% { text-shadow: 0 0 black; }
//   75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
//   100% { text-shadow: 0 0 black; }
// }
//
// .hold-1 {
//   position: absolute;
//   top: 25%;
//   left: 26.8%;
//   font-size: 60px;
//   font-family: 'Rubik';
// }
//
// .hold-2 {
//   position: absolute;
//   bottom: 25%;
//   left: 24%;
//   width: 50%;
//   font-size: 30px;
//   font-family: 'Rubik';
//   text-align: center;
// }
//
// .hold-2-2 {
//   top: 0% !important;
// }
//
// .scanlines {
//     // position: relative;
//     overflow: hidden; // only to animate the unique scanline
//     z-index: 1;
//     &:before,
//     &:after {
//         display: block;
//         pointer-events: none;
//         content: '';
//         position: absolute;
//     }
//
//     // unique scanline travelling on the screen
//     &:before {
//         position: absolute;
//         top: 0;
//         // bottom: 100%;
//         width: 100%;
//         height: $scan-width * 1;
//         z-index: $scan-z-index + 1;
//         background: $scan-color;
//         opacity: $scan-opacity;
//         // animation: scanline 6s linear infinite;
//         @include scan-moving($scan-moving-line);
//     }
//
//     // the scanlines, so!
//     &:after {
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//         z-index: $scan-z-index;
//         background: linear-gradient(
//             to bottom,
//             transparent 50%,
//             $scan-color 51%
//         );
//         background-size: 100% $scan-width*2;
//         @include scan-crt($scan-crt);
//     }
// }
//
// /* ANIMATE UNIQUE SCANLINE */
//  @keyframes scanline {
//      0% {
//          transform: translate3d(0,200000%,0);
//          // bottom: 0%; // to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; }
//      }
//  }
//
//  @keyframes scanlines {
//      0% {
//          background-position: 0 30%;
//          // bottom: 0%; // to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; }
//      }
//  }

input[type=range] {
    -webkit-appearance: none;
    margin: 1em 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5em;
    cursor: pointer;
    animate: 0.2s;
    background: #000;
    border-radius: 3px;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 3em;
    width: 1em;
    border-radius: 0.5em;
    background: #000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1.166666666666667em;
  }
  // input[type=range]:focus::-webkit-slider-runnable-track {
  //   background: #000;
  // }
  // input[type=range]::-moz-range-track {
  //   width: 100%;
  //   height: 0.5em;
  //   cursor: pointer;
  //   animate: 0.2s;
  //   background: #000;
  //   border-radius: 3px;
  // }
  input[type=range]::-moz-range-thumb {
    height: 3em;
    width: 1em;
    border-radius: 0.5em;
    background: #000;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 0.5em;
    cursor: pointer;
    animate: 0.2s;
    background: red;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  // input[type=range]::-ms-fill-lower {
  //   background: #000;
  //   border: 0.2px solid #000;
  //   border-radius: 0.5em;
  // }
  // input[type=range]::-ms-fill-upper {
  //   background: #000;
  //   border: 0.2px solid #000;
  //   border-radius: 0.5em;
  // }
  // input[type=range]::-ms-thumb {
  //   height: 3em;
  //   width: 1em;
  //   border-radius: 0.5em;
  //   background: #000;
  //   cursor: pointer;
  //   margin-top: -0.5em;
  // }
  // input[type=range]:focus::-ms-fill-lower {
  //   background: #000;
  // }
  // input[type=range]:focus::-ms-fill-upper {
  //   background: #000;
  // }
  .iframe-container{
    position: absolute;
    right: 100%;
    bottom: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;

  }
  .sc-photo-container {
    width: 250px;
    // height: 250px;
    position: relative;
    // background-color: purple;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: -22px;
    .music-player-cover {
      width: 100%;
      height: 100%;
      font-family: 'Rubik';
      img {
        width: 24vh;
        max-width: 220px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 8px 6px -6px $frame-color;
      }
      h3 {
        text-align: center;
        margin-bottom: 0;
        margin-top: 15px;
        font-size: 1.4em;
      }
    }
  }
  .nav-underlay {
    position: absolute;
    width: 103%;
    margin-left: -2px;
    height: 40px;
    background-color: $frame-color;
    bottom: -2px;
  }
  .progress {
    width: 100%;
    margin: 0;
    margin-top: 0.25em;
    height: 3em;
    background: transparent;
  }


  input[type='range'] {
  	&, &::-webkit-slider-thumb {
  		-webkit-appearance: none;
  	}

  	// margin: 1em auto;
  	// border: solid .5em transparent;
  	// padding: 0;
  	// width: $track-w; height: $thumb-d;
  	// border-radius: 3px;
  	// background: transparent;
  	// font: 1em/1 arial, sans-serif;
  	// cursor: pointer;

  	&::-webkit-slider-runnable-track {
  		@include track
  	}
  	&::-moz-range-track { @include track }
  	&::-ms-track { @include track }

  	&::-webkit-slider-thumb {
  		// margin-top: .5*($track-h - $thumb-d);
  		@include thumb
  	}
  	&::-moz-range-thumb { @include thumb }
  	&::-ms-thumb {
  		// margin-top: 0;
  		@include thumb
  	}

  	// &::-ms-tooltip { display: none }

  	// &:focus {
  	// 	outline: none;
  	// 	box-shadow: 0 0 2px var(--impact)
  	// }
  }

  .progress-bar{
    width: 100%;
    height: 3em;
    position: relative;
    padding: 0 4em;
    margin-top: -5px;
    box-sizing: border-box;
    font-family: 'Rubik';
  }
  .total,
  .position{
    position: absolute;
    top: 42.2%;
    transform: translateY(-50%);
    width: 4em;
    text-align: center;
  }
  .total{
    right: 0;
  }
  .position{
    left: 0;
  }

.music-control-wrapper {
    // display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    width: 100%;
    margin-top: 5px;
    z-index: 3;
    position: absolute;
    bottom: 24px;
}

.toggle-play{
  position: absolute;
  width: auto;
  height: auto;
  // background-size: 100%;
  color: $button-color;
  // position: absolute;
  left: calc(50% - 10px);
  // top: calc(50% - 10px);
  // margin-left: auto;
  // margin-right: auto;
  cursor: pointer;
  // top: 100%;
}
.pause-svg, .play-svg  {
  position: absolute;
  fill: $button-color;
}


.pause-svg {
  display: none;
  top: 1px;
}

.play{
  max-width: 256px;
  max-height: 256px;
  // background-image: url('../svg/play.svg');
  // background-color: red;
}


.pause{
  max-width: 256px;
  max-height: 256px;
  // background-image: url('../svg/pause.svg')
}

.sc-prev, .sc-next {
  top: 2px;
}

.sc-next {
  position: absolute;
  cursor: pointer;
  right: calc(29% + 4px);
  // top: 52.3px;
  margin-left: -6px;
  fill: $button-color;
}

.sc-prev {
  position: absolute;
  cursor: pointer;
  left: calc(29%);
  // top: 52.3px;
  fill: $button-color;
}

// IPAD MEDIA QUERIES

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .burger-menu {
    display: block;
  }
  #home-wrapper{
    .slick-vertical .slick-slide {
      height: 89vh;
    }
    // grid-template-columns: 175px 82px calc(72% - 432px) auto;
    // grid-template-columns: auto auto auto;
    grid-auto-rows: max-content;
    grid-template-columns: 435px auto;
    max-height: 98vh;
    .home-title {
      grid-column: 1 / 3;
      font-size: 2.5em;
    }
    .main-content-wrapper {
      grid-column: 1 / 3;
      grid-row: 2 / 4;
    }
    .top {
      grid-column: 2;
      // width: 100%;
      margin-top: 15px;
      margin-right:  5px;
      &:before {
        margin-right: 20px;
        margin-top: 0px;
      }
    }
    .insta-content {
      // padding-top: 0;
      // grid-column: 1;
      // grid-row: 4;
      display: none;
    }
    .mixes-content {
      // padding-top: 0;
      // grid-column: 2 / 4;
      // grid-row: 4;
      display: none;
      // .mixes-title {
      //   margin-left: 5px;
      // }
    }
    .tracks-content {
      // padding-top: 0;
      // grid-column: 4 / 5;
      // grid-row: 4;
      display: none;
      // .tracks-title {
      //   margin-left: 5px;
      // }
    }
    .tm {
      .sc-player {
        width: 94%;
      }
    }
    .inner-cell {
      .card-content {
        font-size: 0.9em;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

// PHONE MEDIA QUERIES

@media only screen and (max-width: 600px) {
  html {
    position: fixed;
  }
  body {
    overscroll-behavior-y: none;
    overflow: hidden;
    width: 100vw;
  }
  .body-wrap {
    height: 100%;
    overflow-y: hidden;
  }
  #myNav .tm {
    background-color: transparent;
  }
  .social-links {
    svg {
      fill: $title-color;
    }
  }
  .open-nav-button {
    display: block;
  }
  .bottom-player-wrapper {
    display: block;
  }
  .music-container {
    position: relative;
  }
  .card-background {
    // object-fit: none;
    // object-position: 67% 80%;
  }

  .inner-wrapper.first .slick-dots {
    right: -57.5px;
    bottom: calc(35% + 60px);
    li {
      margin: 0 10px;
    }
    li.slick-active button:before {
      color: $title-color;
      opacity: 1;
    }
    li button:before {
      color: gray;
      opacity: 0.5;
      font-size: 11px;
    }
  }
  .first .slick-prev:before, .first .slick-next:before {
    font-size: 35px;
    color: $title-color;
  }
  .first .slick-prev, .first .slick-next {
    right: 9px;
  }
  .first .slick-prev {
    bottom: 25%;
  }
  .first .slick-next {
    bottom: calc(25% - 50px);
  }

  .slick-vertical .slick-slide {
    height: 100vh;
  }
  .social-links {
    bottom: 120px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    flex-direction: row;
  }
  .home-content-wrapper .social-links {
    display: none;
  }

  .music-image-container {
    margin-left: -140px;
    margin-top: calc(23% + 60px);
    @media (max-height: 750px) {
      margin-top: calc(25% + 40px);
    }
  }
  .music-image .card-link .left-width {
    transform: rotateZ(90deg) rotateX(90deg) translateX(-50%) translateZ(25px);
  }
  .track-writeup-container {
    top: 33%;
    left: 260px;
    width: 55%;
  }
  // .selected-card {
  //     transform: rotateX(10deg) translateX(200px);
  // }

  #home-wrapper {
    margin: 0;
    grid-auto-rows: auto;
    // grid-template-columns: 100vw;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    .top {
      grid-row: 1;
      grid-column: 1;
      display: block;
      // TEMPORARY
      display: none;
      .burger-menu {
        display: block;
      }
    }
    .home-title {
      font-size: 1.9em;
      position: absolute;
      margin-top: 10px;
      left: 50%;
      width: 90vw;
      transform: translateX(-50%);
      @media (max-width: 350px) {
        font-size: 1.7em;
        margin-top: 15px;
      }
      // text-align: center;
      // margin-left:
    }
    .main-content-wrapper {
      grid-row: 1 / 4;
      grid-column: 1;
      height: 100%;
      .home-content-wrapper {
        margin: 0;
        border: 0px;
        border-radius: 0px;
        height: 100%;
        .inner-wrapper {
          max-width: 100vw;
          .button-box {
            display: none;
          }
          .inner-cell {
            align-items: baseline;
            // margin-left: 36px;
            position: relative;
            margin: 0px;
            margin-top: 0px;
            padding-right: 0px;
            // margin-bottom: 0px;
            .home-content {
              font-size: 1.5em;
              position: absolute;
              text-align: right;
              transform-origin: top left;
              // width: auto;
              transform: rotateZ(-90deg) translateX(-73%);
              top: calc(23% + 50px);
              @media (max-height: 750px) {
                top: calc(23% + 75px);
              }
              left: 10px;
              margin-bottom: 0;
            }

            .card-content {
              margin-top: 80px;
              margin-left: 45px;
              margin-right: 45px;
              padding: 0;
              width: auto;
              font-size: 1.15em;
              p {
                margin-bottom: 10px;
              }
              p:nth-child(2) {
                  display: none;
              }
            }
          }
        }
      }

    }
    .insta-content {
      display: none;
    }
    .tracks-content {
      display: none;
    }
  }
}
