html {
  @include breakpoint($xs) {
    overflow: visible;
  }
  @include breakpoint($md) {
    overflow: hidden;
    height: 100%;
  }
  overscroll-behavior-x: none;
}

body {
  // display: table;
  position: relative;
  height: 100%;
  width: 100%;
  .body-wrap {
    background-color: $page-background-color;
    display: flex;

    max-width: 1440px;
    margin: auto;
    overscroll-behavior-x: none;
    justify-content: center;
    align-items: center;
    @include breakpoint($xs) {
      overflow: visible;
      display: block;
    }
    @include breakpoint($md) {
      // height: 100%;
      overflow: auto;
      display: flex;
    }
    @include breakpoint($lg) {
      height: auto;
    }
    @include breakpoint($xl) {
      height: 100%;
    }
  }

  // margin: 0;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

#home-wrapper {
  @include breakpoint($xs) {
    flex-direction: column;
    height: auto;
    max-height: 900px;
  }
  @include breakpoint($md) {
    flex-direction: row;
    height: calc(100vh);
    // max-height: 950px;
  }

  display: grid;
  grid-auto-flow: column;
  margin: 20px;
  // margin-top: -20px;
  margin-top: 0;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%); /* IE 9 */
  // -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */


  // NEED TO  UPDATE THESE

  grid-template-columns: 432px calc(72% - 432px) auto;
  grid-template-rows: 59px calc(45% - 59px) 24% calc(31% - 20px);

  width: calc(100vw - 40px);
  max-width: 1800px;

  .home-title {
    font-family: angled;
    margin: 0;
    z-index: 100;
    // position: absolute;
    grid-column: 1 / 2;
    grid-row: 1;

    color: $title-color;
    @include breakpoint($xs) {
      font-size: 2rem;
      position: relative;

      text-align: center;
      h1 {
        padding-right: 10px;
      }
    }
    @include breakpoint($sm) {
      justify-self: left;
      // align-self: start;
      font-size: 2.5rem;

      h1 {
        padding: 0;
      }
    }
    h1 {
      margin: 0;
    }
  }
  .top{
    grid-column: 2 / 3;
    grid-row: 1;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid $title-color;
    margin-top: 33px;
  }
  .main-content-wrapper {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    // margin-right: 20px;
    @include breakpoint($xs) {
      // width: 100%;
    }
    @include breakpoint($md) {
      // flex-grow: 1;
      // max-width: 70%;
    }
  }
  .main-content-wrapper {
    display: flex;
    // max-height: 950px;
    // max-width: calc(1800px - 424px);
    @include breakpoint($xs) {
      // width: 100%;
      // position: relative;
    }
    @include breakpoint($sm) {
      // width: calc(100vw - 24px);
      // position: relative;
    }
    @include breakpoint($md) {
      // width: calc(100vw - 324px);
      // position: fixed;
    }
    @include breakpoint($lg) {
      // width: calc(100vw - 424px);
    }

    .main-bottom {
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      .bottom-border {
        // position: absolute;
        // bottom: 5px;
        border-bottom: 2px solid $frame-color;
        width: auto;
        flex: 1;
        // line-height: 13px;
        margin-bottom: 24px;
        margin-left: 24px;
      }
    }
  }
  .insta-content, .tracks-content, .mixes-content {
    padding-top: 33px;
    // padding-right: 31px;
    overflow: hidden;
    h2 {
      font-family: 'Rubik';
      color: $side-column-text-color;
      writing-mode: vertical-rl;
      margin-right: 0px;
      letter-spacing: 2px;
      position: relative;
      float: left;
      &::after {
          content: "";
          position: absolute;
          margin-top: 6px;
          width: 12px;
          height: 150%;
          border-left: 2px solid $side-column-text-color;
          line-height: 10px;
          // display: block;
        }

      // margin: 20px 0 0 20px;
      // position: absolute;
      // &.insta-title {
      //   top: 26px;
      //   left: 0px;
      // }
      // &.mixes-title {
      //   top: 426px;
      //   left: 0px;
      // }
      // &.tracks-title {
      //   top: 726px;
      //   left: 0px;
      // }


      // transform: rotate(-90deg);
    }
  }

  .insta-content {
    display: flex;
    grid-column: 3 / 4;
    grid-row: 1 / 3;

    @include breakpoint($xs) {
      width: 100%;
      flex: none;
    }
    @include breakpoint($sm) {
      // flex: 2;
      width: 100%;
    }
    @include breakpoint($md) {
      width: 100%;
      flex: none;
      // height: 45%;
    }
    #instagram-feed1 {
      position: relative;
      margin: 0 10px;
      // top: -5px;
    }
  }
  .tracks-content {
    grid-column: 3;
    grid-row: 3;
    overflow: hidden;
  }
  .mixes-content {
    grid-column: 3;
    grid-row: 4;
    overflow: hidden;
    padding-bottom: 20px;
  }

  .tracks-content, .mixes-content {
    display: flex;
    // flex-direction: column;
    // overflow: hidden;
    // flex: auto;
    @include breakpoint($xs) {
      width: 100%;
      // flex: none;
    }
    @include breakpoint($sm) {
      // flex: 1;
      width: 50%;
    }
    @include breakpoint($md) {
      width: 100%;
      // flex:none;
    }
    .tm {
      margin-top: 6px;
      margin: 6px 10px 10px;
    }
    .sc-player {
      width: 90%;
      margin: 0 2%;
      padding: 10px 3%;
      background-color: $frame-color;
      border-radius: 4px;
      // float: right;
      margin-bottom: 10px;
      // box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }

    .sc-content {
      flex-direction: column;
      height: calc(55% - 20px)
    }
  }
  .music-content-wrapper {
    position: relative;
    overflow-y: scroll;
    // background-color: #3e2c37;
    @include breakpoint($xs) {
      width: 100%;
    }
    // @include breakpoint($sm) {
    //   width: 100%;
    // }
    @include breakpoint($md) {
      width: 280px;
      margin-left: auto;
      // margin-right: 0;
    }
    @include breakpoint($lg) {
      width: 380px;

    }
    padding-right: 20px;
    .music-content {
      // width: 350px;
      margin-left: auto;
      margin-right: 20px;
      margin-top: 20px;
      // margin-bottom: 80px;
      display: flex;

      justify-content: space-between;
      max-height: 820px;
      height: 95%;

      @include breakpoint($xs) {
        width: 100%;
        flex-direction: column;
        min-height: 640px;
        flex-wrap: nowrap;
      }
      @include breakpoint($sm) {
        min-height: auto;
        flex-direction: row;
        flex-wrap: wrap;
      }
      @include breakpoint($md) {
        flex-direction: column;
        flex-wrap: nowrap;
      }
      @include breakpoint($lg) {
        min-height: 700px;
      }
      margin-bottom: 15px;
      > div {
        display: flex;
        flex-direction: row;
        overflow: hidden;
      }



    }

  }

}



// .social-widgets h2 {
//   font-family: 'Rubik';
//   color: #ca6464;
//   writing-mode: vertical-rl;
//   transform: rotate(-90deg);
//   // float: right;
//   text-align: right;
//   font-size: 1.5rem;
//   &::after {
//     content: "";
//     width: 20px;
//     border-left: 2px solid #ca6464;
//     line-height: 10px;
//   }
// }

.social-widgets-mid-wrapper {
  position: relative;
}



.social-links {
  margin: 0;
  // padding: 24px 0px;
  width: 43px;
  height: calc(40% - 25px);
  // background-color: #5933;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  // padding: 16px 9px 11px 15px;
  // border-top: 2px solid $frame-color;
  // border-left: 2px solid $frame-color;
  // border-right: 2px solid $frame-color;
  // border-bottom: 0;

  @include breakpoint($xs) {
    // position: absolute;
    // text-align: center;
    bottom: 6px;
    right: calc(50vw - 134px/2);
    border-bottom: 0;
    // border-radius: 4px 4px 0 0;
  }
  @include breakpoint($sm) {
    // position: absolute;
    top: 0;
    right: -1px;
  }
  @media (min-height: 950px) {
    border-bottom: 2px solid #636363;
    // border-radius: 4px;
  }
  a {
    text-decoration: none;
    fill: currentColor;
    color: $frame-color;
    transition: color 0.1s ease-in-out;
    .mail-icon {
      stroke-width: 20;
      stroke: $frame-color;
    }
    // margin-right: 11px;
    // margin-left: 11px;
    // margin-bottom: 10px;
  }
  a:hover {
    fill: currentColor;
    color: $highlight-color;
    transition: color 0.1s ease-in-out;
    .mail-icon {
      fill: currentColor;
      stroke: $highlight-color;
      transition: stroke 0.1s ease-in-out;
    }
  }
  // &::after {
  //     content: "";
  //     position: absolute;
  //     // margin-top: 6px;
  //     width: 22px;
  //     height: calc(15vh - 53px);
  //     top: calc(-15vh + 53px);
  //     left: calc(50% - 11px);
  //     border-left: 2px solid $frame-color;
  //     border-right: 2px solid $frame-color;
  //     // line-height: 10px;
  //     // display: block;
  //   }
}

.glitch:hover {
  @include textGlitch("example-one", 30, $title-color, #D8C1BB00, $button-color, #61E294, 450, 115);
}

.home-content-wrapper {

  border: 10px solid $frame-color;
  border-top: 10px solid $frame-color;
  border-bottom: 10px solid $frame-color;
  overflow: hidden;
  // position: absolute;
  position: relative;
  display: flex;
  border-radius: 0 20px;
  margin: 30px 20px 20px 20px;
  // margin-left: 3%;
  // margin-top: 40px;
  // background-color: #636363;
  z-index: 5;
  // padding:;
  // width: 94%;
  // height: 85vh;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  // top: 35%;
  // left: 70px;

  .home-content {
      // @include textGlitch("example-one", 10, #636363, inherit, #019B00, #04F700, 450, 115);
      font-family: 'Rubik';
      color: $frame-color;
      margin-top: 0;
      width: 100%;
      z-index: 5;
      // font-size: 60px;
  }

}



.social-widgets {
  // position: absolute;
  @include breakpoint($xs) {
    position: relative;
    width: 90%;
    margin: 0 5%;
  }
  @include breakpoint($sm) {
    position: absolute;
    bottom: -290px;
    right: 0;
    // width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 20px 20px;
  }
  // .sc-player {
  //   width: 100%;
  //   float: right;
  //   margin-bottom: 10px;
  // }
  // text-align: center;
  // padding: 20px;
  // margin-bottom: 10px;
}

.social-widgets-wrapper {
  // height: 100%;
  background-color: #614456;
  // position: absolute;
  // top: 0;
  // right: 0;
  // width: 390px;
  @include breakpoint($xs) {
    position: relative;
    width: 100%;
    padding: 0 5%;
  }
  @include breakpoint($sm) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 390px;
    margin: 0;
    height: 100%;
    padding: 0;
  }
}
.main-carousel {
  // transform: rotate(-90deg);
}

.inner-wrapper {
  // position: absolute;

  height: 100%;

  &.first {
    // border-right: 3px solid #636363;
    // width: auto;
    // flex: 1;
    .slick-dots {
        right: -46px;
      }
  }
  // &.second {
  //   // margin-left: 50%;
  //   border-left: 3px solid #636363;
  //   width: 50px;
  //   .slick-dots {
  //     right: -7px;
  //   }
  // }
}

.carousel-cell {
  // width: 100%; /* full width */
  // height: 100%; /* height of carousel */
  // margin-right: 10px;
  // transform: rotate(90deg);
  height: 100%;
  position: relative;
  .inner-cell {

    margin: 30px 40px;
    height: 86%;
    font-family: metrophobic;
    display: flex;
    flex-flow: column;
    align-items: center;

    .card-content {
      // background-color: #fff3;
      // width: calc(55% - 90px);
      color: $frame-color;
      // min-height: calc(76%);
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 0 10px;
      // border-radius: 5px;
      font-size: 1.15em;
      text-align: justify;
      // flex: 1 1 auto;
      // border-left: 2px solid $frame-color;
      transform: translateX(-20px);
      p {
        margin: 0 0 25px 0;
      }

    }
  }
  .screen-overlay {
    position: absolute;
    width: 100%;
    height: 99.8%;
    // background-color: pink;
    display: none;
    top: 0;
    left: 0;
    .overlay-content {
      position:relative;
      height: 100%;
      .button-background {
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        // height: 100%;
        // background-color: black;
        z-index: 1000;
      }
      .exit-button {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2
      }
    }
  }
}

.button-box {
  position: absolute;
  bottom: -3px;
  right: -2px;
  width: 40px;
  height: calc(60% + 25px);
  border: 2px solid $frame-color;
  border-radius: 5px 0 0 0;
  z-index: 10;
  background-color: $frame-color;
}

.slick-list {
  height: 100% !important;
}

.slick-vertical .slick-slide {
  height: calc(85vh + 2px) !important;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.holder-image {
  width: 25%;
  border-radius: 15px;
}

.spin-content {
  position: absolute;
  top: calc(50% - 170px);
  left: 26%;
  font-size: 140px;
}

.spin-content {
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  text-align: center;
}
@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}
@keyframes depth {
  0% { text-shadow: 0 0 black; }
  25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
  50% { text-shadow: 0 0 black; }
  75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
  100% { text-shadow: 0 0 black; }
}

.hold-1 {
  position: absolute;
  top: 25%;
  left: 26.8%;
  font-size: 60px;
  font-family: 'Rubik';
}

.hold-2 {
  position: absolute;
  bottom: 25%;
  left: 24%;
  width: 50%;
  font-size: 30px;
  font-family: 'Rubik';
  text-align: center;
}

.hold-2-2 {
  top: 0% !important;
}

.scanlines {
    // position: relative;
    overflow: hidden; // only to animate the unique scanline
    z-index: 1;
    &:before,
    &:after {
        display: block;
        pointer-events: none;
        content: '';
        position: absolute;
    }

    // unique scanline travelling on the screen
    &:before {
        position: absolute;
        top: 0;
        // bottom: 100%;
        width: 100%;
        height: $scan-width * 1;
        z-index: $scan-z-index + 1;
        background: $scan-color;
        opacity: $scan-opacity;
        // animation: scanline 6s linear infinite;
        @include scan-moving($scan-moving-line);
    }

    // the scanlines, so!
    &:after {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $scan-z-index;
        background: linear-gradient(
            to bottom,
            transparent 50%,
            $scan-color 51%
        );
        background-size: 100% $scan-width*2;
        @include scan-crt($scan-crt);
    }
}

/* ANIMATE UNIQUE SCANLINE */
 @keyframes scanline {
     0% {
         transform: translate3d(0,200000%,0);
         // bottom: 0%; // to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; }
     }
 }

 @keyframes scanlines {
     0% {
         background-position: 0 30%;
         // bottom: 0%; // to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; }
     }
 }

 .card-background {
    position:absolute;
    height: 120%;
    top: 0;
    left: 0px;
    opacity: 0.3;
    filter: alpha(opacity=30);
 }

.music-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.music-carousel {
  width: 100%;
  height: 100%;
  // z-index: 100;
  // position: absolute;
}

.music-image-container {
  width: 350px;
  position: absolute;
  top: 20%;
  right: 12%;
  .music-image {
    width: 100%;
  }
  h3 {
    text-align: right;
    padding-right: 20px;
    font-size: 1.7em;
  }
  // opacity: 0.4;
}

.burger-menu {
  display: none;

}

// IPAD MEDIA QUERIES



@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .burger-menu {
    display: block;
  }
  #home-wrapper{
    // grid-template-columns: 175px 82px calc(72% - 432px) auto;
    grid-template-columns: auto 55%;
    grid-template-rows: 59px calc(45% - 59px) 24% calc(31% - 20px);
    max-height: none;
    .home-title {
      grid-column: 1 / 3;
    }
    .main-content-wrapper {
      grid-column: 1 / 3;
      grid-row: 2 / 5;
    }
    .top {
      grid-column: 2;
    }
    .insta-content {
      // padding-top: 0;
      // grid-column: 1;
      // grid-row: 4;
      display: none;
    }
    .mixes-content {
      // padding-top: 0;
      // grid-column: 2 / 4;
      // grid-row: 4;
      display: none;
      // .mixes-title {
      //   margin-left: 5px;
      // }
    }
    .tracks-content {
      // padding-top: 0;
      // grid-column: 4 / 5;
      // grid-row: 4;
      display: none;
      // .tracks-title {
      //   margin-left: 5px;
      // }
    }
    .tm {
      .sc-player {
        width: 94%;
      }
    }
    .inner-cell {
      .card-content {
        font-size: 0.9em;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.cubespinner {
  position: absolute;
  top: 50%;
  left: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}


@-webkit-keyframes spincube {
  from,to  { -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg); }
  16%      { -webkit-transform: rotateY(-90deg);                           }
  33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
  50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
  66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
  83%      { -webkit-transform: rotateX(90deg);                            }
}

@keyframes spincube {
  from,to {
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  33% {
    -moz-transform: rotateY(-90deg) rotateZ(90deg);
    -ms-transform: rotateY(-90deg) rotateZ(90deg);
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -moz-transform: rotateY(-180deg) rotateZ(90deg);
    -ms-transform: rotateY(-180deg) rotateZ(90deg);
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -moz-transform: rotateY(-270deg) rotateX(90deg);
    -ms-transform: rotateY(-270deg) rotateX(90deg);
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}

.cubespinner {
  -webkit-animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;

  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transform-origin: 60px 60px 0;
  -moz-transform-origin: 60px 60px 0;
  -ms-transform-origin: 60px 60px 0;
  transform-origin: 60px 60px 0;
}

.cubespinner div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 1px solid #ccc;
  background: rgba(255,255,255,0.8);
  box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
  line-height: 120px;
  text-align: center;
  font-size: 100px;
}

.cubespinner .face1 {
  -webkit-transform: translateZ(60px);
  -moz-transform: translateZ(60px);
  -ms-transform: translateZ(60px);
  transform: translateZ(60px);
}
.cubespinner .face2 {
  -webkit-transform: rotateY(90deg) translateZ(60px);
  -moz-transform: rotateY(90deg) translateZ(60px);
  -ms-transform: rotateY(90deg) translateZ(60px);
  transform: rotateY(90deg) translateZ(60px);
}
.cubespinner .face3 {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
  -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
  -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
  transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
}
.cubespinner .face4 {
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
  -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
  -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
  transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
}
.cubespinner .face5 {
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
  -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}
.cubespinner .face6 {
  -webkit-transform: rotateX(-90deg) translateZ(60px);
  -moz-transform: rotateX(-90deg) translateZ(60px);
  -ms-transform: rotateX(-90deg) translateZ(60px);
  transform: rotateX(-90deg) translateZ(60px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  margin-left: auto;
  margin-right: auto;
  // top: 25%;
  width: 90%;
  // text-align: center;
  // margin-top: 30px;
}

.overlay a {
  // padding: 8px;
  // text-decoration: none;
  // font-size: 36px;
  // color: #818181;
  display: block;
  transition: 0.3s;
}

// .overlay a:hover, .overlay a:focus {
//   color: #f1f1f1;
// }

.overlay .closebtn {
  position: absolute;
  top: -4px;
  right: 11px;
  font-size: 50px;
  color: white;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.burger-menu {
  position: absolute;
  z-index: 100;
  top: 14px;
  right: 20px;
  color: $title-color;
}

.overlay-content {

  .insta-content {
    display: flex;
    grid-column: 1 / 3;
    width: 100%;
    height: auto;
    #instagram-feed2 {
      position: relative;
      width: 100%;
      margin: 0 0 0 10px;
      // top: -5px;
    }


  }
  .tracks-content, .mixes-content {
    display: flex;
    .tm {
      margin-left: 5%;
      .playlist-player {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 94%;
      }
    }
  }
  .insta-content, .tracks-content, .mixes-content {
    padding-top: 33px;
    // padding-right: 31px;
    overflow: hidden;
    h2 {
      font-family: 'Rubik';
      color: $side-column-text-color;
      writing-mode: vertical-rl;
      margin-right: 0px;
      margin-left: 0px;
      letter-spacing: 2px;
      font-size: 2em;
      position: relative;
      float: left;
      text-align: initial;
      &::after {
          content: "";
          position: absolute;
          margin-top: 6px;
          width: 19px;
          height: 150%;
          border-left: 2px solid $side-column-text-color;
          line-height: 10px;
          // display: block;
        }

      // margin: 20px 0 0 20px;
      // position: absolute;
      // &.insta-title {
      //   top: 26px;
      //   left: 0px;
      // }
      // &.mixes-title {
      //   top: 426px;
      //   left: 0px;
      // }
      // &.tracks-title {
      //   top: 726px;
      //   left: 0px;
      // }


      // transform: rotate(-90deg);
    }
  }
}
