// Breakpoints
$xs: 0;
$sm: 36em; //576px
$md: 48em; //768px
$lg: 62em; //992px
$xl: 75em; //1200px

$tile-color-1: #F2F6D0; // light yellow
$tile-color-2: #F9F7F3; // white smoke
$tile-color-3: #D8E1FF; // pale lavender
$tile-color-4: #CFD2CD; // light gray
$tile-color-5: #ECC8AE; // desert sand
$tile-color-6: #BCEBCB; // magic mint
$tile-color-7: #C4B2BC; // black shadows

$button-color: #7AA095;
$frame-color: #1B2021;
$page-background-color: #F2F4F3;
$side-column-text-color: #DD6E42; // ABA9BF
$slick-dot-color: white !default;

$title-color: #7AA095;// ABA9BF
