---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}
  <body class="site">
    <!-- <div class="open-nav-button" onclick="openNav()">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      	 viewBox="0 0 511.997 511.997" style="enable-background:new 0 0 511.997 511.997;" xml:space="preserve">
        <g>
        	<g>
        		<path d="M508.707,365.621L263.374,130.954c-4.125-3.938-10.625-3.938-14.75,0L3.29,365.621c-3.146,3.01-4.146,7.635-2.521,11.677
        			c1.615,4.052,5.542,6.698,9.896,6.698h42.667c2.729,0,5.354-1.042,7.333-2.927l195.333-185.042l195.333,185.042
        			c1.979,1.885,4.604,2.927,7.333,2.927h42.667c4.354,0,8.281-2.646,9.896-6.698C512.853,373.256,511.853,368.631,508.707,365.621z"
        			/>
        	</g>
        </g>
      </svg>
    </div> -->
    <div id="home-wrapper">
      <div class="title-container"><h1 class="glitch home-title" data-text="evan savage">evan savage</h1></div>
      <div class="nav-container">
        <h2><a class="about-nav">ABOUT</a></h2>
        <h2><a class="music-nav">MUSIC</a></h2>
        <h2><a class="research-nav">RESEARCH</a></h2>
        <h2><a class="dev-nav">DEV</a></h2>
      </div>
      <!-- <a href="#" class="menu example1"><span></span></a> -->
      <a href="#" class="menu initial"><span></span></a>
      <!-- <svg class="ham hamRotate ham4" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
        <path class="line top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
        <path class="line middle" d="m 70,50 h -40" />
        <path class="line bottom" d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
      </svg> -->

    </div>
    {% include social_links.html %}
    {% include location.html %}
    <div class="body-wrap">
      {{ content }}
    </div>
    {% include js_scripts.html %}
    <script>
      function openNav() {
        document.getElementById("myNav").style.height = "calc(100%)";
      }

      function closeNav() {
        document.getElementById("myNav").style.height = "0%";
      }
    </script>
    <script>

    </script>

  </body>
</html>
