---
layout: default
---

<a href="{{ site.baseurl }}" class="home-title"><h1 class="glitch" data-text="EVAN SAVAGE">EVAN SAVAGE</h1></a>
<div class="home-content glitch" data-text="< CONTENT COMING SOON >">
  {{ content }}
</div>
<!-- LightWidget WIDGET -->
<div class="social-widgets-wrapper">
  <div class="social-widgets-mid-wrapper">
    <div class="social-widgets">
      <h2>I N S T A</h2>
      <!-- <iframe src="//lightwidget.com/widgets/135aa131f2af559ea4bcfc0117e0bd6b.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="border:0;overflow:hidden;"></iframe> -->
      <!-- <p style="color:white">HOLD</p> -->
      <br><br><br>
      <h2>M I X E S</h2>
      <iframe class="sc-player" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/693009370&color=%23dd7f5b&inverse=true&auto_play=false&show_user=false"></iframe>
      <iframe class="sc-player" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/650354081&color=%23dd7f5b&inverse=true&auto_play=false&show_user=false"></iframe>
      <br><br><br>
      <h2>T R A C K S</h2>
      <iframe class="sc-player" height="20" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/689487826&color=%23dd7f5b&inverse=true&auto_play=false&show_user=false"></iframe>
      <iframe class="sc-player" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/604478418&color=%23dd7f5b&inverse=true&auto_play=false&show_user=false"></iframe>
      <iframe class="sc-player" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/588178482&color=%23dd7f5b&inverse=true&auto_play=false&show_user=false"></iframe>
      <br><br><br><br><br>
      <h2>A N G L E R</h2>
      <iframe class="sc-player" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/691059976&color=%23dd7f5b&inverse=true&auto_play=false&show_user=false"></iframe>
    </div>
  </div>
</div>
{% include social_links.html %}
