---
layout: default
---

{% assign buttonColor = "DCC48E" %}

<div class="main-content-wrapper">
  <div class="home-content-wrapper ">
    {% include home_content.html %}
    {% include about_content.html %}
    {% include music_content.html %}
    {% include research_content.html %}
    {% include dev_content.html %}
    <!-- <div class="left-column">
      <div class="inner-left">

      </div>
    </div>
    <div class="right-column">
      <div class="inner-right">
        {% for card in site.cards %}
          <div class="card-container">
            {% if card.background-image %}
              <img class="card-background {{ card.background-image-class }}" style="opacity: {{ card.opacity }}; height: {{ card.height }}; object-position: {{ card.position }};" src='{{ site.baseurl }}/assets/img/{{ card.background-image }}'/>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div> -->
  </div>

  <!-- <div class="main-bottom">
    <div class="bottom-border"></div>

  </div> -->
</div>
<!-- <script src="{{ site.baseurl }}/assets/js/carousel.js"></script> -->
<!-- <div class="social-widgets-wrapper">
  <div class="social-widgets-mid-wrapper">
    <div class="social-widgets">
      <h2>I N S T A</h2>

      <br><br><br>
      <h2>M I X E S</h2>
      <iframe class="sc-player" height="20" scrolling="no" frameborder="yes" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/693009370&color=%23{{ buttonColor }}&inverse=true&auto_play=false&show_user=false"></iframe>
      <iframe class="sc-player" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/650354081&color=%23{{ buttonColor }}&inverse=true&auto_play=false&show_user=false"></iframe>
      <br><br><br>
      <h2>T R A C K S</h2>
      <iframe class="sc-player" height="20" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/689487826&color=%23{{ buttonColor }}&inverse=true&auto_play=false&show_user=false"></iframe>
      <iframe class="sc-player" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/604478418&color=%23{{ buttonColor }}&inverse=true&auto_play=false&show_user=false"></iframe>
      <iframe class="sc-player" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/588178482&color=%23{{ buttonColor }}&inverse=true&auto_play=false&show_user=false"></iframe>
      <br><br><br><br><br>
      <h2>A N G L E R</h2>
      <iframe class="sc-player" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/691059976&color=%23{{ buttonColor }}&inverse=true&auto_play=false&show_user=false"></iframe>
    </div>
  </div>
</div> -->
